.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-height: fit-content;
  position: relative;

  .navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 5em;

    p {
      margin: auto;
      font-size: 1.6em;
    }
  }

  .watch {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 2em;
    padding: 1em;
    align-self: flex-end;
    min-width: fit-content;

    &.show {
      opacity: 1;
    }
  }

  .arena {
    margin-top: 1.6em;
    color: black;
    padding: 0 2em;
    width: 100%;
    line-height: 1.6em;
    font-size: 1.1em;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;

    .results {
      margin-top: 2em;
      padding: 2em;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
      }
    }

    .current-word {
      width: fit-content;
      margin: auto;
      padding: 2em 1em;

      .char {
        font-size: 1.42em;
        font-weight: 500;
        color: rgba(160, 160, 160, 0.43);

        &.typed {
          color: rgb(95, 89, 89);
        }
      }
    }

    .timer {
      width: 100%;
      padding: 0.43em;
      display: flex;
      box-sizing: border-box;
      background-color: rgba(180, 241, 241, 0.678);
      font-weight: bold;
      border-radius: 5px;
      color: #54a288cc;
      align-items: center;
      justify-content: center;
      transition: opacity 1s ease-in;
      transition-delay: 1s;
      margin-bottom: 0.7em;

      &.hide {
        opacity: 0;
      }
    }

    .loader {
      display: inline-block;
      margin-top: 5em;
      align-self: center;
      justify-self: center;
      width: 64px;
      height: 64px;
    }

    .loader:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid rgba(180, 241, 241, 0.678);
      will-change: transform;
      border-color: rgba(180, 241, 241, 0.678) transparent rgba(180, 241, 241, 0.678) transparent;
      animation: loadinganim 1.2s linear infinite;
    }

    @keyframes loadinganim {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .generated-text {
      border: 1px solid rgba(153, 151, 151, 0.7);
      padding: 1em;
      min-width: 100%;
      box-sizing: border-box;
      border-radius: 3.8px;
      margin: auto;

      .progressed {
        background-color: rgba(95, 243, 93, 0.29);
      }
    }
  }

  .reset-button {
    padding: 0.7em 1.6em;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid rgb(30, 136, 179);
    color: rgb(30, 136, 179);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
    outline: none;

    &:hover {
      color: rgb(40, 184, 241);
      border-color: rgb(40, 184, 241);
    }
  }
}